<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tamil</key>
	<dict>
		<key>title</key>
		<string>தமிழ்</string>
		<key>fontName</key>
		<string>TamilSangamMN</string>
		<key>button1</key>
		<dict>
			<key>name</key>
			<string>அ</string>
			<key>values</key>
			<array>
				<array>
					<string>அ</string>
					<string>ஆ</string>
					<string>இ</string>
					<string>ஈ</string>
					<string>உ</string>
					<string>ஊ</string>
					<string>எ</string>
					<string>ஏ</string>
					<string>ஐ</string>
					<string>ஒ</string>
					<string>ஓ</string>
					<string>ஔ</string>
				</array>
				<array>
					<string>அம்மா</string>
					<string>ஆடு</string>
					<string>இலை</string>
					<string>ஈட்டி</string>
					<string>உடை</string>
					<string>ஊஞ்சல்</string>
					<string>எட்டு</string>
					<string>ஏணி</string>
					<string>ஐந்து</string>
					<string>ஒன்பது</string>
					<string>ஓடம்</string>
					<string>ஒளவை</string>
				</array>
				<dict>
					<key>இ</key>
					<string>top1</string>
				</dict>
			</array>
		</dict>
		<key>button2</key>
		<dict>
			<key>name</key>
			<string>க்</string>
			<key>values</key>
			<array>
				<array>
					<string>க்</string>
					<string>ங்</string>
					<string>ச்</string>
					<string>ஞ்</string>
					<string>ட்</string>
					<string>ண்</string>
					<string>த்</string>
					<string>ந்</string>
					<string>ப்</string>
					<string>ம்</string>
					<string>ய்</string>
					<string>ர்</string>
					<string>ல்</string>
					<string>வ்</string>
					<string>ழ்</string>
					<string>ள்</string>
					<string>ற்</string>
					<string>ன்</string>
				</array>
				<array>
					<string>சக்கரம்</string>
					<string>சங்கு</string>
					<string>பச்சை</string>
					<string>அஞ்சல்</string>
					<string>ஒட்டகம்</string>
					<string>கண்</string>
					<string>தத்தை</string>
					<string>பந்து</string>
					<string>கப்பல்</string>
					<string>அம்பு</string>
					<string>நாய்</string>
					<string>மலர்</string>
					<string>கால்</string>
					<string>செவ்வகம்</string>
					<string>இதழ்</string>
					<string>மஞ்சள்</string>
					<string>ஒற்றுமை</string>
					<string>ஒன்று</string>
				</array>
				<dict>
					<key>all</key>
					<string>top2</string>
				</dict>
			</array>
		</dict>
		<key>button3</key>
		<dict>
			<key>name</key>
			<string>க</string>
			<key>values</key>
			<array>
				<array>
					<string>க</string>
					<string>கா</string>
					<string>கி</string>
					<string>கீ</string>
					<string>கு</string>
					<string>கூ</string>
					<string>கெ</string>
					<string>கே</string>
					<string>கை</string>
					<string>கொ</string>
					<string>கௌ</string>
					<string>ங</string>
					<string>ஙா</string>
					<string>ஙி</string>
					<string>ஙீ</string>
					<string>ஙு</string>
					<string>ஙூ</string>
					<string>ஙெ</string>
					<string>ஙே</string>
					<string>ஙை</string>
					<string>ஙொ</string>
					<string>ஙோ</string>
					<string>ஙௌ</string>
					<string>ச</string>
					<string>சா</string>
					<string>சி</string>
					<string>சீ</string>
					<string>சு</string>
					<string>சூ</string>
					<string>செ</string>
					<string>சே</string>
					<string>சை</string>
					<string>சொ</string>
					<string>சோ</string>
					<string>சௌ</string>
					<string>ஞ</string>
					<string>ஞா</string>
					<string>ஞி</string>
					<string>ஞீ</string>
					<string>ஞு</string>
					<string>ஞூ</string>
					<string>ஞெ</string>
					<string>ஞே</string>
					<string>ஞை</string>
					<string>ஞொ</string>
					<string>ஞோ</string>
					<string>ஞௌ</string>
					<string>ட</string>
					<string>டா</string>
					<string>டி</string>
					<string>டீ</string>
					<string>டு</string>
					<string>டூ</string>
					<string>டெ</string>
					<string>டே</string>
					<string>டை</string>
					<string>டொ</string>
					<string>டோ</string>
					<string>டௌ</string>
					<string>ண</string>
					<string>ணா</string>
					<string>ணி</string>
					<string>ணீ</string>
					<string>ணு</string>
					<string>ணூ</string>
					<string>ணெ</string>
					<string>ணே</string>
					<string>ணை</string>
					<string>ணொ</string>
					<string>ணோ</string>
					<string>ணௌ</string>
					<string>த</string>
					<string>தா</string>
					<string>தி</string>
					<string>தீ</string>
					<string>து</string>
					<string>தூ</string>
					<string>தெ</string>
					<string>தே</string>
					<string>தை</string>
					<string>தொ</string>
					<string>தோ</string>
					<string>தௌ</string>
					<string>ந</string>
					<string>நா</string>
					<string>நி</string>
					<string>நீ</string>
					<string>நு</string>
					<string>நூ</string>
					<string>நெ</string>
					<string>நே</string>
					<string>நை</string>
					<string>நொ</string>
					<string>நோ</string>
					<string>நௌ</string>
					<string>ப</string>
					<string>பா</string>
					<string>பி</string>
					<string>பீ</string>
					<string>பு</string>
					<string>பூ</string>
					<string>பெ</string>
					<string>பே</string>
					<string>பை</string>
					<string>பொ</string>
					<string>போ</string>
					<string>பௌ</string>
					<string>ம</string>
					<string>மா</string>
					<string>மி</string>
					<string>மீ</string>
					<string>மு</string>
					<string>மூ</string>
					<string>மெ</string>
					<string>மே</string>
					<string>மை</string>
					<string>மொ</string>
					<string>மோ</string>
					<string>மௌ</string>
					<string>ய</string>
					<string>யா</string>
					<string>யி</string>
					<string>யீ</string>
					<string>யு</string>
					<string>யூ</string>
					<string>யெ</string>
					<string>யே</string>
					<string>யை</string>
					<string>யொ</string>
					<string>யோ</string>
					<string>யௌ</string>
					<string>ர</string>
					<string>ரா</string>
					<string>ரி</string>
					<string>ரீ</string>
					<string>ரு</string>
					<string>ரூ</string>
					<string>ரெ</string>
					<string>ரே</string>
					<string>ரை</string>
					<string>ரொ</string>
					<string>ரோ</string>
					<string>ரௌ</string>
					<string>ல</string>
					<string>லா</string>
					<string>லி</string>
					<string>லீ</string>
					<string>லு</string>
					<string>லூ</string>
					<string>லெ</string>
					<string>லே</string>
					<string>லை</string>
					<string>லொ</string>
					<string>லோ</string>
					<string>லௌ</string>
					<string>வ</string>
					<string>வா</string>
					<string>வி</string>
					<string>வீ</string>
					<string>வு</string>
					<string>வூ</string>
					<string>வெ</string>
					<string>வே</string>
					<string>வை</string>
					<string>வொ</string>
					<string>வோ</string>
					<string>வௌ</string>
					<string>ழ</string>
					<string>ழா</string>
					<string>ழி</string>
					<string>ழீ</string>
					<string>ழு</string>
					<string>ழூ</string>
					<string>ழெ</string>
					<string>ழே</string>
					<string>ழை</string>
					<string>ழொ</string>
					<string>ழோ</string>
					<string>ழௌ</string>
					<string>ள</string>
					<string>ளா</string>
					<string>ளி</string>
					<string>ளீ</string>
					<string>ளு</string>
					<string>ளூ</string>
					<string>ளெ</string>
					<string>ளே</string>
					<string>ளை</string>
					<string>ளொ</string>
					<string>ளோ</string>
					<string>ளௌ</string>
					<string>ற</string>
					<string>றா</string>
					<string>றி</string>
					<string>றீ</string>
					<string>று</string>
					<string>றூ</string>
					<string>றெ</string>
					<string>றே</string>
					<string>றை</string>
					<string>றொ</string>
					<string>றோ</string>
					<string>றௌ</string>
					<string>ன</string>
					<string>னா</string>
					<string>னி</string>
					<string>னீ</string>
					<string>னு</string>
					<string>னூ</string>
					<string>னெ</string>
					<string>னே</string>
					<string>னை</string>
					<string>னொ</string>
					<string>னோ</string>
					<string>னௌ</string>
				</array>
				<array/>
				<dict>
					<key>all</key>
					<string>top2</string>
					<key>கொ</key>
					<string>top1</string>
					<key>கௌ</key>
					<string>top</string>
					<key>ஙொ</key>
					<string>top1</string>
					<key>ஙோ</key>
					<string>top1</string>
					<key>ஙௌ</key>
					<string>top</string>
					<key>சொ</key>
					<string>top1</string>
					<key>சோ</key>
					<string>top1</string>
					<key>சௌ</key>
					<string>top</string>
					<key>ஞொ</key>
					<string>top1</string>
					<key>ஞோ</key>
					<string>top1</string>
					<key>ஞௌ</key>
					<string>top</string>
					<key>டொ</key>
					<string>top1</string>
					<key>டோ</key>
					<string>top1</string>
					<key>டௌ</key>
					<string>top</string>
					<key>ணொ</key>
					<string>top</string>
					<key>ணோ</key>
					<string>top</string>
					<key>ணௌ</key>
					<string>top</string>
					<key>தொ</key>
					<string>top1</string>
					<key>தோ</key>
					<string>top1</string>
					<key>தௌ</key>
					<string>top</string>
					<key>நொ</key>
					<string>top1</string>
					<key>நோ</key>
					<string>top1</string>
					<key>நௌ</key>
					<string>top</string>
					<key>பொ</key>
					<string>top1</string>
					<key>போ</key>
					<string>top1</string>
					<key>பௌ</key>
					<string>top</string>
					<key>மொ</key>
					<string>top1</string>
					<key>மோ</key>
					<string>top1</string>
					<key>மௌ</key>
					<string>top</string>
					<key>யொ</key>
					<string>top1</string>
					<key>யோ</key>
					<string>top1</string>
					<key>யௌ</key>
					<string>top</string>
					<key>ரொ</key>
					<string>top1</string>
					<key>ரோ</key>
					<string>top1</string>
					<key>ரௌ</key>
					<string>top</string>
					<key>லொ</key>
					<string>top1</string>
					<key>லோ</key>
					<string>top1</string>
					<key>லௌ</key>
					<string>top</string>
					<key>வொ</key>
					<string>top1</string>
					<key>வோ</key>
					<string>top1</string>
					<key>வௌ</key>
					<string>top</string>
					<key>ழொ</key>
					<string>top1</string>
					<key>ழோ</key>
					<string>top1</string>
					<key>ழௌ</key>
					<string>top</string>
					<key>ளொ</key>
					<string>top1</string>
					<key>ளோ</key>
					<string>top1</string>
					<key>ளௌ</key>
					<string>top</string>
					<key>றொ</key>
					<string>top1</string>
					<key>றோ</key>
					<string>top1</string>
					<key>றௌ</key>
					<string>top</string>
					<key>னொ</key>
					<string>top1</string>
					<key>னோ</key>
					<string>top1</string>
					<key>னௌ</key>
					<string>top</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
