<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tamil</key>
	<dict>
		<key>title</key>
		<string>தமிழ்</string>
		<key>fontName</key>
		<string>TamilSangamMN-Bold</string>
		<key>button1</key>
		<dict>
			<key>name</key>
			<string>உயிரெழுத்துக்கள்</string>
			<key>values</key>
			<array>
				<array>
					<string>அ</string>
					<string>ஆ</string>
					<string>இ</string>
					<string>ஈ</string>
					<string>உ</string>
					<string>ஊ</string>
					<string>எ</string>
					<string>ஏ</string>
					<string>ஐ</string>
					<string>ஒ</string>
					<string>ஓ</string>
					<string>ஔ</string>
				</array>
				<array>
					<string>அம்மா</string>
					<string>ஆடு</string>
					<string>இலை</string>
					<string>ஈட்டி</string>
					<string>உடை</string>
					<string>ஊஞ்சல்</string>
					<string>எட்டு</string>
					<string>ஏணி</string>
					<string>ஐந்து</string>
					<string>ஒன்பது</string>
					<string>ஓடம்</string>
					<string>ஒளவை</string>
				</array>
				<dict>
					<key>இ</key>
					<string>top</string>
				</dict>
			</array>
		</dict>
		<key>button2</key>
		<dict>
			<key>name</key>
			<string>மெய்யெழுத்துக்கள்</string>
			<key>values</key>
			<array>
				<array>
					<string>க்</string>
					<string>ங்</string>
					<string>ச்</string>
					<string>ஞ்</string>
					<string>ட்</string>
					<string>ண்</string>
					<string>த்</string>
					<string>ந்</string>
					<string>ப்</string>
					<string>ம்</string>
					<string>ய்</string>
					<string>ர்</string>
					<string>ல்</string>
					<string>வ்</string>
					<string>ழ்</string>
					<string>ள்</string>
					<string>ற்</string>
					<string>ன்</string>
				</array>
				<array/>
				<dict>
					<key>all</key>
					<string>top</string>
					<key>ஞ்</key>
					<string>bottom</string>
					<key>த்</key>
					<string>bottom</string>
					<key>ந்</key>
					<string>bottom</string>
					<key>ர்</key>
					<string>bottom</string>
					<key>ழ்</key>
					<string>bottom</string>
					<key>ற்</key>
					<string>bottom</string>
				</dict>
			</array>
		</dict>
		<key>button3</key>
		<dict>
			<key>name</key>
			<string>உயிர்மெய்ழுத்துக்கள்</string>
			<key>values</key>
			<array>
				<array>
					<string>க</string>
					<string>கா</string>
				</array>
				<array>
					<string>அம்மா</string>
					<string>அம்மா</string>
				</array>
			</array>
		</dict>
	</dict>
	<key>telugu</key>
	<dict>
		<key>key2</key>
		<array>
			<string>க்</string>
			<string>ங்</string>
			<string>ச்</string>
			<string>ஞ்</string>
			<string>ட்</string>
			<string>ண்</string>
			<string>த்</string>
			<string>ந்</string>
			<string>ப்</string>
			<string>ம்</string>
			<string>ய்</string>
			<string>ர்</string>
			<string>ல்</string>
			<string>வ்</string>
			<string>ழ்</string>
			<string>ள்</string>
			<string>ற்</string>
			<string>ன்</string>
		</array>
		<key>key3</key>
		<array>
			<string>க</string>
			<string>கா</string>
			<string>கி</string>
			<string>கீ</string>
			<string>கு</string>
			<string>கூ</string>
			<string>கெ</string>
			<string>கே</string>
			<string>கை</string>
			<string>கொ</string>
			<string>கோ</string>
			<string>கௌ</string>
		</array>
		<key>key1</key>
		<array>
			<string>அ</string>
			<string>ஆ</string>
			<string>இ</string>
			<string>ஈ</string>
			<string>உ</string>
			<string>ஊ</string>
			<string>எ</string>
			<string>ஏ</string>
			<string>ஐ</string>
			<string>ஒ</string>
			<string>ஓ</string>
			<string>ஔ</string>
			<string>ஃ</string>
		</array>
	</dict>
	<key>malayalam</key>
	<dict/>
</dict>
</plist>
